body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'M PLUS Rounded 1c';
}

h1 {
	text-align: center;
	vertical-align: center;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-size: 2em;
	margin: 0;
}

p {
	margin: 0;
}

.white {
 	background-color: #f9f7f7;
}

.black {
	background-color: #141614;
}

.yellow {
 	background-color: #b8d802; 
}

.green {
 	background-color: #144c11;
}

.white-font {
 	color: #f9f7f7;
}

.black-font {
	color: #141614;
}

.yellow-font {
 	color: #b8d802; 
}

.green-font {
 	color: #144c11;
}

.first-bg {
	height: 20vh;
	width: 100vw;
	object-fit: cover;
}

.title {
	box-sizing: border-box;
	border-radius: 20px;
	position: absolute;
	top: 15vh;
	left: 15vw;
	width: 225px;
	height: 80px;
}

.button-back {
	position: absolute;
	z-index: 1;
	padding: 5px 10px 5px 20px;
	border-radius: 3px;
	top: 30px;
	left: -2px;
}

.button-back > a {
	text-decoration: none;
}

.form-bg {
	height: 100vh;
	width: 100vw;
}

.form-con {
	position: relative;
	float: left;
	left: 35%;
	margin-top: 100px;
}

.entry {
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.entry > input {
	margin-left: 20px;
	width: 30vw;
	height: 20px;
}

.button-submit {
	position: absolute;
	bottom: -50px;
	left: 120px;
}