<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
  <title>{{ name }}</title>
  <style type="text/css">
  	* {
  		font-family: 'M PLUS Rounded 1c', sans-serif;
  		box-sizing: border-box;
  	}

    body {
      margin: 0;
      padding: 0;
    }

    h1 {
    	margin: 20px 0 10px 0;
    }


    #con-1 {
      height: 200px;
      padding: 10px 20px;
      background-color: #92f442;
    }

    #con-1-1 {
    	display: inline-flex;
    	margin-left: 20px;
    	flex-wrap: wrap;
    }

    #con-2 {
      padding: 0;
      display: inline-flex;
      flex-wrap: wrap;
      height: 30vh;
      width: 100vw;
    }
    
	#wall {
	    font-size: 2em;
		background-color: #f44842;
		color: white;
		height: auto;
		width: 100vw;
		padding: 20px 0;
		text-align: center;
	}
    #pan-1 {
      padding: 0px 20px;
      color: white;
      height: auto;
      width: 50vw;
      background-color: #443d29;
    }

    #pan-2 {
      padding: 0px 20px;
      color: white;
      height: auto;
      width: 50vw;
      background-color: #153947;
    }

    .photo {
      border-radius: 75px;
      margin: 10px 0 0 0;
	  height: 150px;
	  width: 150px;
      background-size: 150px 150px;
	  background-repeat: no-repeat;
	  background-position: center;  
    }
	
	.photo-1 {
	  background-image: url("https://i.imgur.com/NuAsgZI.jpg");
	}
	
	.photo-2 {
	  background-image: url("https://i.imgur.com/MT4ojls.jpg");
	}
	
	.photo-3 {
	  background-image: url("https://i.imgur.com/IqyxeIt.jpg");
	}
	
    #profile {
    	margin-left: 30px;
    }
	
	#pan-3 {
	  padding: 0px 20px;
      color: white;
      height: auto;
      width: 100vw;
      background-color: #153947;
	}

  </style>
</head>
<body>
  <div id="con-1">
  	<div id="con-1-1">
      <div class="photo photo-1"></div>
      <div id="profile">
        <h1>Hi, this is {{ name }}</h1>
        <article>I am <strong>{{ age }}</strong> years old</article>
        <article>{{ college }}</article>
        <article>{{ npm }}</article>
      </div>
    </div>  
  </div>
  <div id="con-2">
    <div id="pan-1">
      <h1>Hobbies</h1>
      <article>{{ hobbies }}</article>
    </div>
    <div id="pan-2">
      <h1>Description</h1>
      <article>{{ description }}</article>
    </div>
  </div>
  <div id="wall">My friend</div>
  <div id="con-1">
  	<div id="con-1-1">
      <div class="photo photo-2"></div>
      <div id="profile">
        <h1>Hello, my name is Samuel Dimas Partogi Siahaan</h1>
        <article>I am <strong>19</strong> years old</article>
        <article>Universitas Indonesia</article>
        <article>1706074915</article>
      </div>
    </div>  
  </div>
  <div id="con-2">
    <div id="pan-3">
      <h1>Description</h1>
      <article>You can call me Sam.</article>
    </div>
  </div>
  
  <div id="wall">My other friend</div>
  
  <div id="con-1">
  	<div id="con-1-1">
      <div class="photo photo-3"></div>
      <div id="profile">
        <h1>Hello, my name is Dave Nathanael</h1>
        <article>I am <strong>19</strong> years old</article>
        <article>Universitas Indonesia</article>
        <article>1706040076</article>
      </div>
    </div>  
  </div>
  <div id="con-2">
    <div id="pan-3">
      <h1>Description</h1>
      <article>I find it fun to play music, especially piano, for fun. I want to be a fullstack web developer.</article>
    </div>
  </div>  
</body>
</html>